@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Commissioner", sans-serif;
}

.header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 2em;
}

.header i {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 50vh;
}

.card {
  text-align: center;
  background-color: #ccc;
  color: #000;
}

.name {
  text-decoration: underline;
  margin-bottom: 20px;
}

.recipe {
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

.loader {
  display: none;
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .card {
    padding: 15px;
    min-width: 450px;
    min-height: 450px;
  }
}
